<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wage.biz.mybatis.EmpDepartmentMapper" >
  <!--<cache eviction="LRU" type="com.wage.redis.RedisCache" />-->
  <cache type="org.mybatis.caches.ignite.IgniteCacheAdapter" />
  <resultMap id="BaseResultMap" type="com.wage.model.EmpDepartment" >
    <id column="DEPART_ID" property="departId" jdbcType="DECIMAL" />
    <id column="DEPART_RAND" property="departRand" jdbcType="DECIMAL" />
    <result column="DEPART_NAME" property="departName" jdbcType="VARCHAR" />
    <result column="DEPART_WAGE" property="departWage" jdbcType="DECIMAL" />
  </resultMap>
  <sql id="Base_Column_List" >
    DEPART_ID, DEPART_RAND, DEPART_NAME, DEPART_WAGE
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="com.wage.model.EmpDepartmentKey" >
    select 
    <include refid="Base_Column_List" />
    from EMP_DEPARTMENT
    where DEPART_ID = #{departId,jdbcType=DECIMAL}
      and DEPART_RAND = #{departRand,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.wage.model.EmpDepartmentKey" >
    delete from EMP_DEPARTMENT
    where DEPART_ID = #{departId,jdbcType=DECIMAL}
      and DEPART_RAND = #{departRand,jdbcType=DECIMAL}
  </delete>
  <insert id="insert" parameterType="com.wage.model.EmpDepartment" >
    insert into EMP_DEPARTMENT (DEPART_ID, DEPART_RAND, DEPART_NAME, 
      DEPART_WAGE)
    values (#{departId,jdbcType=DECIMAL}, #{departRand,jdbcType=DECIMAL}, #{departName,jdbcType=VARCHAR}, 
      #{departWage,jdbcType=DECIMAL})
  </insert>
  <insert id="insertSelective" parameterType="com.wage.model.EmpDepartment" >
    insert into EMP_DEPARTMENT
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="departId != null" >
        DEPART_ID,
      </if>
      <if test="departRand != null" >
        DEPART_RAND,
      </if>
      <if test="departName != null" >
        DEPART_NAME,
      </if>
      <if test="departWage != null" >
        DEPART_WAGE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="departId != null" >
        #{departId,jdbcType=DECIMAL},
      </if>
      <if test="departRand != null" >
        #{departRand,jdbcType=DECIMAL},
      </if>
      <if test="departName != null" >
        #{departName,jdbcType=VARCHAR},
      </if>
      <if test="departWage != null" >
        #{departWage,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.wage.model.EmpDepartment" >
    update EMP_DEPARTMENT
    <set >
      <if test="departName != null" >
        DEPART_NAME = #{departName,jdbcType=VARCHAR},
      </if>
      <if test="departWage != null" >
        DEPART_WAGE = #{departWage,jdbcType=DECIMAL},
      </if>
    </set>
    where DEPART_ID = #{departId,jdbcType=DECIMAL}
      and DEPART_RAND = #{departRand,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wage.model.EmpDepartment" >
    update EMP_DEPARTMENT
    set DEPART_NAME = #{departName,jdbcType=VARCHAR},
      DEPART_WAGE = #{departWage,jdbcType=DECIMAL}
    where DEPART_ID = #{departId,jdbcType=DECIMAL}
      and DEPART_RAND = #{departRand,jdbcType=DECIMAL}
  </update>
  <select id="findDepartList" resultMap="BaseResultMap" >
    SELECT distinct DEPART_ID,DEPART_NAME
    FROM EMP_DEPARTMENT
    ORDER BY DEPART_ID
  </select>
  <select id="findRandById" resultType="Short" parameterType="java.lang.Integer">
    SELECT DEPART_RAND
    FROM EMP_DEPARTMENT
    WHERE DEPART_ID = #{departId,jdbcType=DECIMAL}
    ORDER BY DEPART_RAND
  </select>
  <select id="findAllDepart" resultMap="BaseResultMap" >
    SELECT *
    FROM EMP_DEPARTMENT
    ORDER BY DEPART_ID
  </select>
</mapper>